{% extends 'base.html' %}

{% block content %}
<h2>
  Invoices
  <a href="{% url 'invoice:invoice_new' %}">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
  <a href="{% url 'invoice:invoice_search' %}">
    <span class="glyphicon glyphicon-search"></span>
  </a>
</h2>
<table class="table">
  <thead>
    <tr>
      <th class="text-left">Payee</th>
      <th class="text-right">Paid</th>
      <th class="text-right">Due</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in invoices %}
      <tr>
        <td class="text-left">
          <a href="{% url 'invoice:invoice_detail' pk=invoice.id %}">
            {{ invoice.payee.name }}
          </a>
        </td>
        <td class="text-right">{{ invoice.total_payment }}</td>
        <td class="text-right">{{ invoice.total_fee }}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
