{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2>
  Invoices
  <a href="{% url 'invoice:invoice_new' %}">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
  <a href="{% url 'invoice:invoice_search' %}">
    <span class="glyphicon glyphicon-search"></span>
  </a>
</h2>
<table class="table">
  <thead>
    <tr>
      <th class="text-left">Payee</th>
      <th class="text-right">Paid</th>
      <th class="text-right">Due</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in invoices %}
      <tr>
        <td class="text-left">
          <a href="{% url 'invoice:invoice_detail' pk=invoice.id %}">
            {{ invoice.payee.name }}
          </a>
        </td>
        <td class="text-right">{{ invoice.total_payment|intcomma }}</td>
        <td class="text-right">{{ invoice.total_fee|intcomma }}
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    {% if invoices.has_previous %}
      <a href="?page={{ invoices.previous_page_number }}{% if patient %}&patient={{ patient }}{% endif %}{% if payee %}&payee={{ payee }}{% endif %}">Previous</a>
    {% endif %}

    <span class="current">
      Page {{ invoices.number }} of {{ invoices.paginator.num_pages }}.
    </span>

    {% if invoices.has_next %}
      <a href="?page={{ invoices.next_page_number }}{% if patient %}&patient={{ patient }}{% endif %}{% if payee %}&payee={{ payee }}{% endif %}">Next</a>
    {% endif %}
  </span>
</div>
{% endblock %}
