{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2>
  Payments
  <br />
  <a href="{% url 'invoice:payment_list' %}"><small>By Payee</small></a>
</h2>
<table class="table">
  <thead>
    <tr>
      <th class="text-left">Month</th>
      <th class="text-right">Payments</th>
      <th class="text-right">Total Invoiced</th>
      <th class="text-right">Total Fees</th>
    </tr>
  </thead>
  <tbody>
    {% for date in dates %}
      <tr>
        <td class="text-left">
          {{ date.year }}-{{ date.month }}
        </td>
        <td class="text-right">{{ date.payments|intcomma }}</td>
        <td class="text-right">{{ date.invoiced|intcomma }}</td>
        <td class="text-right">{{ date.fees|intcomma }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td class="text-left"><strong>Total</strong></td>
      <td class="text-right"><strong>{{ total_payments|intcomma }}</strong></td>
      <td class="text-right"><strong>{{ total_invoiced|intcomma }}</strong></td>
      <td class="text-right"><strong>{{ total_fees|intcomma }}</strong></td>
  </tbody>
</table>
{% endblock %}
