{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2>
  Payments
  <a href="{% url 'invoice:payment_search' %}">
    <span class="glyphicon glyphicon-filter"></span>
  </a>

  {% if start %}
    <small>Start: </small>{{ start }}  
  {% endif %}
  {% if end %}
    <small>End: </small>{{ end }}
  {% endif %}
  <br />
  <a href="{% url 'invoice:payment_month_list' %}"><small>By Month</small></a>
</h2>
<table class="table">
  <thead>
    <tr>
      <th class="text-left">Payee</th>
      <th class="text-right">Payments</th>
      <th class="text-right">Total Invoiced</th>
      <th class="text-right">Total Fees</th>
    </tr>
  </thead>
  <tbody>
    {% for payee in payees %}
      <tr>
        <td class="text-left">
          <a href="{% url 'invoice:invoice_list' %}?payee={{ payee.0 }}">
            {{ payee.0 }}
          </a>
        </td>
        <td class="text-right">{{ payee.1|intcomma }}</td>
        <td class="text-right">{{ payee.2|intcomma }}</td>
        <td class="text-right">{{ payee.3|intcomma }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td class="text-left"><strong>Total</strong></td>
      <td class="text-right"><strong>{{ total_payments|intcomma }}</strong></td>
      <td class="text-right"><strong>{{ total_invoiced|intcomma }}</strong></td>
      <td class="text-right"><strong>{{ total_fees|intcomma }}</strong></td>
  </tbody>
</table>
{% endblock %}
