{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2>
  Payments
  <a href="{% url 'invoice:payment_search' %}">
    <span class="glyphicon glyphicon-filter"></span>
  </a>

  {% if start %}
    <small>Start: </small>{{ start }}  
  {% endif %}
  {% if end %}
    <small>End: </small>{{ end }}
  {% endif %}
</h2>
<table class="table">
  <thead>
    <tr>
      <th class="text-left">Payee</th>
      <th class="text-right">Payments</th>
    </tr>
  </thead>
  <tbody>
    {% for payee in payees %}
      <tr>
        <td class="text-left">
          {{ payee.0 }}
        </td>
        <td class="text-right">{{ payee.1|intcomma }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
