{% load staticfiles %}

<html>
  <head>
    <title>Littlebooks</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'contacts/style.css' %}">
  </head>
  <body>
    <div class="page-header">
      <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
      <a href="{% url 'invoice:worktype_list' %}" class="top-menu">Work Types</a>
      <a href="{% url 'invoice:payment_list' %}" class="top-menu">Payments</a>
      <a href="{% url 'invoice:invoice_list' %}" class="top-menu">Invoices</a>
      <a href="{% url 'contacts:list_contacts' %}" class="top-menu">Contacts</a>
      <h1>Littlebooks</h1>
    </div>
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}

          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
